@import url('https://fonts.googleapis.com/css?family=Raleway:500,600,900&display=swap');
@import "variables";

/* Reset Rule */
* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	font-family: "Raleway", sans-serif;
	background-color: @lightBlue;
}

header {
	background-image: url("../img/header-bkg.jpg");
	background-size: cover;
	padding: 5% 0;
}

h1 {
	font-size: 4rem;
	color: @orange;
	background-color: @navy;
	width: 75%;
	padding: 2%;
}